body {
    background-color: black;
    color: aliceblue;
    margin-left: 25px;
}


body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

button {
    width: 100%;
    margin: 10px 0px 5px 0px;
}